@import 'bulma/css/bulma.css';

@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wdth,wght@0,120.9,100..900;1,120.9,100..900&family=Satisfy&display=swap');


* {
    text-align: center;
}

#main-title{
  
        font-family: "Satisfy", cursive;
        font-weight: 600;
        font-style: bold;
        font-size: 100px;
        color: #5c3b44;
        border: 2px, black, solid;
        margin-top: 5px;
        padding: 7px;
        display: inline-flex
    
}

 #exhibit-view{
   border: 4px black;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        gap: 10px; 
    
}


